<launch>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ubiquitous_display)/rviz/show_youbot.rviz" required="true"/>

  <param name="robot_description" command="$(find xacro)/xacro '$(find ubiquitous_display)/urdf/ud.urdf.xacro'"/>
</launch>
